.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.375rem;
    background: rgba(15, 15, 19, 0.8);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
}

.navbar__brand
{
    display: flex;
    align-items: center;
    transform-origin: left center;
}

.nav__links a
{
    margin-left: 2rem;
    text-decoration: none;
    color: var(--text-soft);
    font-weight: 500;
}
