:root {
  font-family: Inter, system-ui, sans-serif;
  background: #0f0f13;
  color: #f5f5f7;
}

* {
  box-sizing: border-box;
  font-family: "MedievalSharp";
}

body {
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
